<div
  class="fixed inset-0 bg-transparent z-50"
  *ngIf="diente && part"
  (click)="onClose()"
  (keydown.escape)="onClose()"
  tabindex="0"
>
  <div
    class="context-menu fixed bg-white shadow-lg rounded-md p-2"
    [style.left.px]="contextMenuPosition.x"
    [style.top.px]="contextMenuPosition.y"
    (click)="$event.stopPropagation()"
  >
    <div class="header text-sm font-bold text-gray-700 mb-1">
      {{ diente }} - {{ part }}
    </div>
    <div class="relative">
      <input
        #searchInput
        [(ngModel)]="search"
        class="w-full pl-8 pr-2 py-1 mb-1 border rounded-md"
        placeholder="Buscar tratamiento"
        (keydown)="onKeydown($event)"
      />
      <i
        class="fas fa-search absolute left-2 top-1/2 transform -translate-y-1/2"
      ></i>
    </div>
    <div class="body max-h-[100px] max-w-[240px] overflow-auto">
      <div
        *ngFor="let treatment of filteredTreatments"
        class="py-1 px-2 hover:bg-gray-200 cursor-pointer"
        (click)="onSelect(treatment)"
      >
        {{ treatment }}
      </div>
    </div>
  </div>
</div>
