<body>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="!isLoading">
    <div class="contenedor">
      <h1>Pacientes</h1>
      <form>
        <mat-form-field class="full-width">
          <mat-label
            ><i class="fas fa-magnifying-glass"></i> Buscar Paciente</mat-label
          >
          <input
            type="text"
            placeholder="Nombre, Apellido o DNI"
            aria-label="Buscar Paciente"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let paciente of filteredPacientes | async"
              [value]="paciente.nombres"
            >
              {{ paciente.nombres }}, {{ paciente.apellidos }} -
              {{ paciente.dni }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div>
        <app-paciente
          *ngFor="let paciente of pacientesPaginados"
          [paciente]="paciente"
        ></app-paciente>        
      </div>
      <mat-paginator
        [length]="pacientes.length"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="cambiarPagina($event)"
      >
      </mat-paginator>
    </div>
  </div>
</body>
