<body class="p-4 bg-indigo-100">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="!isLoading">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Odontograma Inicial</h1>
      <img
        src="assets/images/oanatomico.png"
        alt="Imagen"
        class="h-12 w-auto"
      />
    </div>

    <div
      *ngIf="paciente && userAuth"
      class="bg-gray-100 p-4 rounded-lg shadow-md mt-4"
    >
      <div class="flex justify-between items-center">
        <p class="font-bold">Fecha {{ formatDate(fechaActual) }}</p>
        <button
          (click)="descargarPDF()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Descargar PDF
        </button>
      </div>
      <form [formGroup]="form">
        <div class="relative mt-3">
          <input
            #searchInput
            formControlName="search"
            class="w-full pl-8 pr-2 py-1 border rounded-md"
            placeholder="Buscar paciente"
            (keydown)="onKeydown($event)"
          />
          <i
            class="fas fa-search absolute left-2 top-1/2 transform -translate-y-1/2"
          ></i>
          <div
            class="absolute w-full bg-white border rounded-md"
            *ngIf="resultadosBusqueda.length > 0"
          >
            <div
              *ngFor="let paciente of resultadosBusqueda"
              class="p-2 hover:bg-gray-200 cursor-pointer"
              (click)="onSelect(paciente)"
            >
              {{ paciente.nombres }} {{ paciente.apellidos }} ({{
                paciente.dni
              }})
            </div>
          </div>
        </div>
      </form>
      <div class="flex mt-4">
        <div class="w-[50%] p-3">
          <p class="font-bold text-lg">Datos Paciente</p>
          <p class="ml-3"><strong>DNI:</strong> {{ paciente.dni }}</p>
          <p class="ml-3 -mb-2">
            {{ paciente.nombres }} {{ paciente.apellidos }}
          </p>
          <span class="ml-3 italic text-xs text-zinc-600">
            {{ paciente.email }}
          </span>
          <p class="ml-3">{{ paciente.telefono }}</p>
          <p class="ml-3">{{ paciente.direccion }}</p>
          <p class="ml-3">Edad: {{ paciente.edad }} años</p>
          <p class="ml-3">{{ paciente.sexo }}</p>
          <p class="ml-3">Registro: {{ formatDate(paciente?.fechaRegistro || paciente?.fechaRegistro) }}</p>
        </div>
        <div class="w-[50%] p-3">
          <p class="font-bold text-lg">Datos Clínica</p>
          <p class="ml-3"><strong>CliniConti S.A.C.</strong></p>
          <p class="ml-3 -mb-2">{{ userAuth.role }} {{ userAuth.fullname }}</p>
          <span class="ml-3 italic text-xs text-zinc-600">
            {{ userAuth.email }}
          </span>
          <p class="ml-3">{{ userAuth.telefono }}</p>
          <p class="ml-3">atencionalcliente&#64;clinicoti.com</p>
          <p class="ml-3">{{ userAuth.direccion }}</p>
        </div>
      </div>
    </div>

    <div class="mt-3 mb-3">
      <label for="tipoOdontograma">Odontograma </label>
      <select
        id="tipoOdontograma"
        [(ngModel)]="tipoOdontograma"
        class="bg-transparent border-b-2 border-gray-500"
      >
        <option value="anatomico">Anatómico</option>
        <option value="geometrico">Geométrico</option>
      </select>
      <label>, </label>
      <select
        id="pacienteCategoria"
        [(ngModel)]="edadCategoria"
        title="Paciente Categoría"
        class="bg-transparent border-b-2 border-gray-500"
      >
        <option value="adulto">Adulto</option>
        <option value="menor">Pediátrico</option>
        <option value="completo">Completo</option>
      </select>
      <label>.</label>
    </div>

    <app-ui-odontograma-anatomico
      *ngIf="tipoOdontograma === 'anatomico'"
    ></app-ui-odontograma-anatomico>

    <app-ui-odontograma-geometrico
      *ngIf="tipoOdontograma === 'geometrico'"
      [edadCategoria]="edadCategoria"
    ></app-ui-odontograma-geometrico>

    <div
      *ngIf="
        form.controls['odontograma'].touched &&
        form.controls['odontograma'].invalid
      "
      class="text-red-500 bg-red-100 border-l-8 border-red-500 p-3 mt-2"
    >
      <i class="fas fa-circle-exclamation fa-sm fa-shake"></i>
      Odontograma es requerido.
    </div>

    <div class="mt-4">
      <form [formGroup]="form">
        <div>
          <label
            for="especificaciones"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Especificaciones*
          </label>
          <textarea
            id="especificaciones"
            formControlName="especificaciones"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Especificaciones"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              form.controls['especificaciones'].touched &&
              form.controls['especificaciones'].invalid
            "
            class="text-red-500 bg-red-100 border-l-8 border-red-500 p-3"
          >
            <i class="fas fa-circle-exclamation fa-sm fa-shake"></i>
            Especificaciones es requerida.
          </div>
        </div>
        <div>
          <label
            for="observaciones"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Observaciones*
          </label>
          <textarea
            id="observaciones"
            formControlName="observaciones"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Observaciones"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              form.controls['observaciones'].touched &&
              form.controls['observaciones'].invalid
            "
            class="text-red-500 bg-red-100 border-l-8 border-red-500 p-3"
          >
            <i class="fas fa-circle-exclamation fa-sm fa-shake"></i>
            Observaciones es requerida.
          </div>
        </div>
        <button
          type="button"
          (click)="openConfirmationModal()"
          class="w-full text-lg font-bold text-white rounded-lg bg-[#3B82F6] hover:bg-[#1D4ED8] p-2 mt-2"
        >
          <i class="fas fa-save"></i> Guardar Odontograma
        </button>
      </form>
    </div>
  </div>
</body>
<app-ui-modal #modal></app-ui-modal>
