<body class="p-4 bg-indigo-100">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="!isLoading">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Odontograma Inicial</h1>
      <img
        src="assets/images/oanatomico.png"
        alt="Imagen"
        class="h-12 w-auto"
      />
    </div>
    <mat-accordion *ngIf="paciente && usuario">
      <mat-expansion-panel>
        <mat-expansion-panel-header
          class="contenedor justify-between text-center"
        >
          <mat-panel-title>
            <p>
              <strong>Paciente: </strong>{{ paciente.nombres }},
              {{ paciente.apellidos }}
            </p>
          </mat-panel-title>
          <mat-panel-description>
            <p class="font-bold">Fecha {{ formatDate(fechaActual) }}</p>
          </mat-panel-description>
          <mat-panel-description class="justify-end">
            <button
              (click)="descargarPDF()"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
              Descargar PDF
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex mt-4">
          <div class="w-[50%] p-3">
            <p class="font-bold text-lg">Datos Paciente</p>
            <div class="ml-3">
              <p><strong>DNI:</strong> {{ paciente.dni }}</p>
              <p><strong>Email:</strong> {{ paciente.email }}</p>
              <p><strong>Dirección:</strong> {{ paciente.direccion }}</p>
              <p><strong>Sexo:</strong> {{ paciente.sexo }}</p>
              <p><strong>Edad:</strong> {{ paciente.edad }}</p>
              <p><strong>Peso:</strong> {{ paciente.peso }} kg</p>
              <p><strong>Talla:</strong> {{ paciente.talla }} cm</p>
              <p><strong>Pulso:</strong> {{ paciente.pulso }} latidos/min</p>
              <p><strong>Temperatura:</strong> {{ paciente.temperatura }} °C</p>
              <p>
                <strong>Presión Arterial:</strong>
                {{ paciente.presionArterial }}
              </p>
              <p>
                <strong>Fecha de Nacimiento:</strong>
                {{ paciente.fechaNacimiento }}
              </p>
              <p>
                <strong>Fecha de Registro:</strong>
                {{ paciente.fechaRegistro }}, {{ paciente.horaRegistro }}
              </p>
            </div>
          </div>
          <div class="w-[50%] p-3">
            <p class="font-bold text-lg">Datos Clínica</p>
            <p class="ml-3"><strong>OdontoConti S.A.C.</strong></p>
            <p class="ml-3">atencionalcliente&#64;odontoconti.com</p>
            <div
              *ngIf="usuario.rol === 'Estudiante'; else docenteInfo"
              class="ml-3 flex items-center"
            >
              <img
                class="w-24 h-24 mr-4"
                src="{{ usuario.estudiante.foto }}"
                alt="Foto del estudiante"
              />
              <div>
                <p>
                  <strong>{{ usuario.rol }}:</strong> {{ usuario.estudiante.nombre }},
                  {{ usuario.estudiante.apellido }}
                </p>
                <p><strong>Código:</strong> {{ usuario.estudiante.codigo }}</p>
                <p><strong>Email:</strong> {{ usuario.estudiante.email }}</p>
                <p><strong>Teléfono:</strong> {{ usuario.estudiante.phone }}</p>
              </div>
            </div>
            <ng-template #docenteInfo>
              <div class="ml-3 flex items-center">
                <img
                  class="w-24 h-24 mr-4"
                  src="{{ usuario.docente.foto }}"
                  alt="Foto del docente"
                />
                <div>
                  <p>
                    <strong>{{ usuario.rol }}:</strong> Dr.
                    {{ usuario.docente.nombre }},
                    {{ usuario.docente.apellido }}
                  </p>
                  <p><strong>Código:</strong> {{ usuario.docente.codigo }}</p>
                  <p><strong>Email:</strong> {{ usuario.docente.email }}</p>
                  <p><strong>Teléfono:</strong> {{ usuario.docente.phone }}</p>
                </div>
              </div>
            </ng-template>
            <span class="ml-3 italic text-xs text-zinc-600">
              {{ usuario.email }}
            </span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="mt-3 mb-3">
      <label for="tipoOdontograma">Odontograma </label>
      <select
        id="tipoOdontograma"
        [(ngModel)]="tipoOdontograma"
        class="bg-transparent border-b-2 border-gray-500"
      >
        <option value="anatomico">Anatómico</option>
        <option value="geometrico">Geométrico</option>
      </select>
      <label>, </label>
      <select
        id="pacienteCategoria"
        [(ngModel)]="edadCategoria"
        title="Paciente Categoría"
        class="bg-transparent border-b-2 border-gray-500"
      >
        <option value="adulto">Adulto</option>
        <option value="menor">Pediátrico</option>
        <option value="completo">Completo</option>
      </select>
      <label>.</label>
    </div>

    <app-ui-odontograma-anatomico
      *ngIf="tipoOdontograma === 'anatomico'"
    ></app-ui-odontograma-anatomico>

    <app-ui-odontograma-geometrico
      *ngIf="tipoOdontograma === 'geometrico'"
      [edadCategoria]="edadCategoria"
    ></app-ui-odontograma-geometrico>

    <div
      *ngIf="
        form.controls['odontograma'].touched &&
        form.controls['odontograma'].invalid
      "
      class="text-red-500 bg-red-100 border-l-8 border-red-500 p-3 mt-2"
    >
      <i class="fas fa-circle-exclamation fa-sm fa-shake"></i>
      Odontograma es requerido.
    </div>

    <div class="mt-4">
      <form [formGroup]="form">
        <div>
          <label
            for="especificaciones"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Especificaciones*
          </label>
          <textarea
            id="especificaciones"
            formControlName="especificaciones"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Especificaciones"
            rows="3"
            maxlength="500"
          ></textarea>
          <div
            *ngIf="
              form.controls['especificaciones'].touched &&
              form.controls['especificaciones'].invalid
            "
            class="text-red-500 bg-red-100 border-l-8 border-red-500 p-3"
          >
            <i class="fas fa-circle-exclamation fa-sm fa-shake"></i>
            Especificaciones es requerida.
          </div>
        </div>
        <div>
          <label
            for="observaciones"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Observaciones*
          </label>
          <textarea
            id="observaciones"
            formControlName="observaciones"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Observaciones"
            rows="3"
            maxlength="500"
          ></textarea>
          <div
            *ngIf="
              form.controls['observaciones'].touched &&
              form.controls['observaciones'].invalid
            "
            class="text-red-500 bg-red-100 border-l-8 border-red-500 p-3"
          >
            <i class="fas fa-circle-exclamation fa-sm fa-shake"></i>
            Observaciones es requerida.
          </div>
        </div>
        <button
          type="button"
          (click)="openConfirmationModal()"
          class="w-full text-lg font-bold text-white rounded-lg bg-[#3B82F6] hover:bg-[#1D4ED8] p-2 mt-2"
        >
          <i class="fas fa-save"></i> Guardar Odontograma
        </button>
      </form>
    </div>
  </div>
</body>
<app-ui-modal #modal></app-ui-modal>
