<div class="body_general">
    <div class="body">


        <div class="block1">
            <h1>Cuida tu Salud, Cuida tu Sonrisa</h1>
            <p>Realiza tus pruebas y consultas con nosotros, abarcamos 3 odontogramas gratuitos</p>
            <button class="boton_slider" [routerLink]="['/anamnesis']" routerLinkActive="router-link-active" >Realiza tu Odontograma</button>

        </div>

        <div class="block2">

            <img class="enfermera" src="../../assets/images/Enfermera.png" alt="">

        </div>
    </div>

    <div class="body2">


        <h2>Odontogramas Online</h2>
        <h3 class="descripcion_body2">Herramientas y recursos para odontólogos</h3>

        <div class="contenedor_3">
            <div class="sub_1">
                <img class="diente1" src="../../assets/images/diente_1.png" alt="">
                <h4 class="den1"> Odontograma Anatómico</h4>
                <h5 class="descripcion_dientes">Registra tus tratamientos</h5>
                <h5 class="descripcion_dientes">anatómicos.</h5>
            </div>
            <div class="sub_2">
                <img class="diente2" src="../../assets/images/diente_2.png" alt="">
                <h4 class="den2"> Odontograma Infantil</h4>
                <h5 class="descripcion_dientes">Registra tus tratamientos</h5>
                <h5 class="descripcion_dientes">infantiles</h5>
            </div>
            <div class="sub_3">
                <img class="diente3" src="../../assets/images/diente_3.png" alt="">
                <h4 class="den3"> Odontograma Geométrico</h4>
                <h5 class="descripcion_dientes">Registra tus tratamientos </h5>
                <h5 class="descripcion_dientes">anatómicos</h5>
            </div>

        </div>



    </div>

    <div class="body3">

        <h2>Odontogramas Online</h2>
        <h3 class="descripcion_body3">Cientos de dentistas y odontólogos se han hecho está pregunta. Aquí te explicamos
            algunas de las razones o beneficios que te dará contar con un software clínico que tenga un módulo de
            odontograma.
            ‍</h3>

        <img class="img_extra" src="../../assets/images/laptop_imagen.png" alt="">

    </div>




</div>
