.body {
    display: flex;
    height: 80vh;
    /* Utilizamos flexbox para colocar los bloques en la misma línea */
    justify-content: space-between;
    /* Espacio igual entre los bloques */
    background: linear-gradient(99deg, #A7BAF2 10.91%, rgba(147, 170, 231, 0.82) 23.26%, rgba(126, 153, 218, 0.63) 37.89%, rgba(118, 147, 214, 0.56) 46.68%, rgba(107, 137, 207, 0.46) 54.25%, rgba(126, 153, 218, 0.32) 76.67%, rgba(142, 166, 228, 0.19) 90.18%);

}

.block1 {
    flex: 4;
    /* Los bloques ocupan el mismo espacio disponible */
    margin-left: 50px;
    padding: 35px;
    /* Agregamos relleno para separar el contenido del borde (puedes ajustar esto según tus necesidades) */
}

.block2 {
    flex: 2;

}



h1 {
    font-size: 100px;
    margin: 50px;
    padding-right: 240px;
    color: #3C4059;
    margin-top: 120px;
    font-weight: 500;

}

p {
    font-size: 30px;
    margin: 50px;
    padding-right: 500px;
    color: #3C4059;

    font-weight: 400;
}

.boton_slider {
    margin: 50px;
    color: #fff;
    font-weight: 650;
    height: 60px;
    width: 250px;
    background-color: #2450A6;
    font-size: 18px;
    border: 1px solid #2450A6;
    border-radius: 15px;
    padding: 10px;
    transition: background-color 0.3s;
    /* Agregamos una transición suave para una animación más agradable */
}

.boton_slider:hover {
    background-color: #fff;
    /* Invertimos el fondo y el color de fuente en hover */
    color: #2450A6;
    border: 1px solid #2450A6;
}

.enfermera {
    margin-top: 62px;
}

.body2 {
    margin-top: 50px;
    display: block;
}

h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #2450A6;
}

.descripcion_body2 {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.contenedor_3 {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    /* Esto centrará los elementos horizontalmente */
    gap: 300px;
}

.sub1,
.sub2,
.sub3 {
    display: block;
    
    text-align: center;
    
    
}

.den1, .den2 {
    margin-top: 35px;
font-weight: 600;
font-style: bold;

    font-size: 28px;
}

.den3{
    margin-top: -30px;
    font-size: 28px;

    font-weight: 600;
    font-style: bold;
   
}

.descripcion_dientes{
font-size: 20px;
text-align: center;
}

.body3{
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos horizontalmente */
    justify-content: center; /* Esto centrará los elementos verticalmente */
    text-align: center; /* Esto centrará el texto horizontalmente */
    margin-top: 100px;


    
}

.descripcion_body3{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    padding-left: 200px;
    padding-right: 200px;
}

.img_extra{
    width: 800px;
    margin-top: 50px;
    padding-bottom: 150px;
}
