<div class="flex justify-between">
  <h2 class="text-[#2450A6] pl-20 pt-5 pb-5 font-bold">
    Registrar paciente
  </h2>
  <div class="flex gap-2 mr-28">
    <div class="items-center">
      <span>E1</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E2</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E3</span>
      <div class="bg-[#5B85D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E4</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E5</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E6</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E7</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
    <div class="items-center">
      <span>E8</span>
      <div class="bg-[#D9D9D9] w-5 h-5 rounded-full"></div>
    </div>
  </div>
</div>

<div class="flex">
  <div class="w-[353px] h-screen bg-[#2450A6] ml-20 justify-center items-center align-middle flex flex-col rounded-l-2xl text-center">
    <h1 class="text-white font-extrabold text-3xl">3</h1>
    <h2 class="text-white">FUNCIONES BIOLÓGICAS</h2>
    <p class="text-white font-medium p-3">Registra el estado de las funciones biológicas de tu paciente</p>
    <label class="text-white">Paso 3 de 8</label>
    <div class="w-[300px] bg-gray-200 rounded-full h-2.5 m-5">
      <div class="bg-[#75F7FF] h-2.5 rounded-full" style="width: 37.5%"></div>
    </div>
  </div>
  <div class="bg-[#A7BAF2] flex p-[20px] rounded-r-2xl">
    <div class="flex-col">
      <div class="flex flex-row">
        <div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Función biológica</label>
            <select class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese nombre">
              <option value="Apetito">Apetito</option>
              <option value="Deposiciones">Deposiciones</option>
              <option value="Sed">Sed</option>
              <option value="Orina">Orina</option>
              <option value="Sueño">Sueño</option>
            </select>
          </div>

        </div>
        <div>
          <div class="flex">
            <div class="flex flex-col ml-10">
              <label class="font-medium" for="">Descripción</label>
              <select class="border border-blue-500 p-1 w-[100px] rounded-sm outline-none" type="text" placeholder="Ingrese nombre">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
              </select>
            </div>
            <div class="flex flex-col ml-5">
              <label class="font-medium" for="">Edad</label>
              <input class="border border-blue-500 p-1 w-[130px] rounded-sm outline-none" type="number" placeholder="Ingrese edad">
            </div>
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Lugar</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese lugar">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Estado civil</label>
            <select class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese nombre">
              <option value="Soltero">Soltero</option>
              <option value="Casado">Casado</option>
              <option value="Viudo">Viudo</option>
              <option value="Divorciado">Divorciado</option>
            </select>
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Residencia</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese residencia">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Ocupación</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese ocupación">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Domicilio</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese domicilio">
          </div>
        </div>
      </div>
      <h2 class="ml-10 font-bold text-[#3C4059]">En caso necesario comunicar</h2>
      <div class="bg-[#3C4059] h-[2px] ml-10"></div>
      <div class="flex flex-row">
        <div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Nombres</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese nombre">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Domicilio</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese domicilio">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Acompañante</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese acompañante">
          </div>
        </div>
        <div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Ocupación</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese ocupación">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Parentesco</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese parentesco">
          </div>
          <div class="flex flex-col ml-10">
            <label class="font-medium" for="">Celular</label>
            <input class="border border-blue-500 p-1 w-[250px] rounded-sm outline-none" type="text" placeholder="Ingrese celular">
          </div>
          <div class="flex gap-3 mt-4 ml-[82px]">
            <button class="bg-white text-[#2450A6] p-3 flex rounded-lg">
              Guardar
              <img class="ml-1" src="../../assets/icons/save.svg" alt="">
            </button>
            <button class="bg-[#2450A6] text-white p-3 rounded-lg" [routerLink]="['/signos-vitales']" routerLinkActive="router-link-active">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
