<div
    class="items-center justify-center z-50"
    [ngStyle]="{ display: modalOpen ? 'flex' : 'none' }"
  >
    <div class="modal-overlay absolute inset-0 bg-gray-900 opacity-50"></div>
    <div
      class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
    >
      <div class="modal-content py-4 text-left px-6">
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">Añadir Tratamiento</p>
          <div class="modal-close cursor-pointer z-50" (click)="closeModal()">
            <svg
              class="fill-current text-black"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
            >
              <path
                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="my-2">
          <label
            for="selpieza"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Selecciona Pieza:</label
          >
          <select
            id="selpieza"
            name="selpieza"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [(ngModel)]="selectedTooth"
          >
            <option selected="" value="00">Todas</option>
            <option value="11A">11A</option>
            <option value="12A">12A</option>
            <option value="13A">13A</option>
            <option value="14A">14A</option>
            <option value="15A">15A</option>
            <option value="16A">16A</option>
            <option value="17A">17A</option>
            <option value="18A">18A</option>
            <option value="21A">21A</option>
            <option value="22A">22A</option>
            <option value="23A">23A</option>
            <option value="24A">24A</option>
            <option value="25A">25A</option>
            <option value="26A">26A</option>
            <option value="27A">27A</option>
            <option value="28A">28A</option>
            <option value="31A">31A</option>
            <option value="32A">32A</option>
            <option value="33A">33A</option>
            <option value="34A">34A</option>
            <option value="35A">35A</option>
            <option value="36A">36A</option>
            <option value="37A">37A</option>
            <option value="38A">38A</option>
            <option value="41A">41A</option>
            <option value="42A">42A</option>
            <option value="43A">43A</option>
            <option value="44A">44A</option>
            <option value="45A">45A</option>
            <option value="46A">46A</option>
            <option value="47A">47A</option>
            <option value="48A">48A</option>

            <option value="14B">14B</option>
            <option value="15B">15B</option>
            <option value="16B">16B</option>
            <option value="17B">17B</option>
            <option value="18B">18B</option>

            <option value="24B">24B</option>
            <option value="25B">25B</option>
            <option value="26B">26B</option>
            <option value="27B">27B</option>
            <option value="28B">28B</option>

            <option value="34B">34B</option>
            <option value="35B">35B</option>
            <option value="36B">36B</option>
            <option value="37B">37B</option>
            <option value="38B">38B</option>

            <option value="44B">44B</option>
            <option value="45B">45B</option>
            <option value="46B">46B</option>
            <option value="47B">47B</option>
            <option value="48B">48B</option>

            <option value="11C">11C</option>
            <option value="12C">12C</option>
            <option value="13C">13C</option>
            <option value="14C">14C</option>
            <option value="15C">15C</option>
            <option value="16C">16C</option>
            <option value="17C">17C</option>
            <option value="18C">18C</option>
            <option value="21C">21C</option>
            <option value="22C">22C</option>
            <option value="23C">23C</option>
            <option value="24C">24C</option>
            <option value="25C">25C</option>
            <option value="26C">26C</option>
            <option value="27C">27C</option>
            <option value="28C">28C</option>
            <option value="31C">31C</option>
            <option value="32C">32C</option>
            <option value="33C">33C</option>
            <option value="34C">34C</option>
            <option value="35C">35C</option>
            <option value="36C">36C</option>
            <option value="37C">37C</option>
            <option value="38C">38C</option>
            <option value="41C">41C</option>
            <option value="42C">42C</option>
            <option value="43C">43C</option>
            <option value="44C">44C</option>
            <option value="45C">45C</option>
            <option value="46C">46C</option>
            <option value="47C">47C</option>
            <option value="48C">48C</option>
          </select>
        </div>
        <div class="my-2">
          <label
            for="seltratamiento"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Selecciona Tratamiento:</label
          >
          <select
            id="seltratamiento"
            name="seltratamiento"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [(ngModel)]="selectedTreatment"
          >
            <option
              *ngFor="let treatment of tratamientos"
              [value]="treatment"
              [ngStyle]="{
                'background-color': tratamientoColores[treatment]
              }"
            >
              {{ treatment }}
            </option>
            <option
              *ngFor="let treatment of tratamientos"
              [value]="treatment"
              [ngStyle]="{
                'background-color': tratamientoColores[treatment]
              }"
            >
              {{ treatment }}
            </option>
            <option selected="" value="Apiceptomía">Apiceptomía</option>
            <option value="Carillas">Carillas</option>
            <option value="Cirugía">Cirugía</option>
            <option value="Contanto Alimento">Contanto Alimento</option>
            <option value="Corona">Corona</option>
            <option value="Curetaje">Curetaje</option>
            <option value="Endodoncia">Endodoncia</option>
            <option value="Esqueletico">Esquelético</option>
            <option value="Estética">Estética</option>
            <option value="Exploración">Exploración</option>
            <option value="Extrusión">Extrusión</option>
            <option value="Furcas">Furcas</option>
            <option value="Girar">Girar</option>
            <option value="Impacto Alimento">Impacto Alimento</option>
            <option value="Impresiones">Impresiones</option>
            <option value="Inclinacion">Inclinación</option>
            <option value="Limpieza">Limpieza</option>
            <option value="Movilidad">Movilidad</option>
            <option value="Obturacion">Obturación</option>
            <option value="Ortodoncia">Ortodoncia</option>
            <option value="Perno">Perno</option>
            <option value="Pilar solo">Pilar Solo</option>
            <option value="Pilar transepitelial">Pilar Transpitelial</option>
            <option value="Placa descarga">Placa Descarga</option>
            <option value="Protesis removible">Protesis Removible</option>
            <option value="Puente">Puente</option>
            <option value="Quitar">Quitar</option>
            <option value="Radiografia">Radiografía</option>
            <option value="Reconstrucción">Reconstrucción</option>
            <option value="Sangrado">Sangrado</option>
            <option value="Sellador">Sellador</option>
            <option value="Sensibilidad">Sensibilidad</option>
            <option value="Supurado">Supurado</option>
            <option value="Tornillo">Tornillo</option>
            <option value="Tornillo Solo">Tornillo Solo</option>
            <option value="Tratamiento">Tratamiento</option>
          </select>
        </div>
        <div class="my-2">
          <label
            for="selcara"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Selecciona Cara:</label
          >
          <select
            id="selcara"
            name="selcara"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          >
            <option selected="" value="Vestibular">Vestibular</option>
            <option value="Lingual">Lingual</option>
            <option value="Palatino">Palatino</option>
            <option value="Mesial">Mesial</option>
            <option value="Distal">Distal</option>
            <option value="Oclusal">Oclusal</option>
          </select>
        </div>
        <div class="flex justify-end pt-2">
          <button
            class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
            (click)="closeModal()"
          >
            Cancelar
          </button>
          <button
            class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400"
            type="button"
            (click)="addTreatment()"
          >
            Añadir
          </button>
        </div>
      </div>
    </div>
  </div>

<div class="mt-4 overflow-x-auto rounded-lg shadow-md bg-gray-100">
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2"></th>
          <th
            class="px-4 py-2"
            *ngFor="let i of [].constructor(16); let j = index"
          >
            {{ 17 - j }}
          </th>
          <th
            class="px-4 py-2"
            *ngFor="let i of [].constructor(16); let j = index"
          >
            {{ 21 + j }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let fila of ['C', 'B', 'A']">
          <tr>
            <td class="px-4 py-2 border text-center">{{ fila }}</td>
            <td
              class="px-4 py-2 border relative"
              *ngFor="let i of [].constructor(16); let j = index"
            >
              <input
                type="image"
                [src]="'assets/anatomico/' + (18 - j) + fila + '.png'"
                [id]="18 - j + fila"
                class="brush-images w-full h-auto"
                alt=""
                (click)="openModal(18 - j + fila)"
              />
              <img
                *ngIf="getToothColor(18 - j + fila)"
                [src]="getToothIcon(18 - j + fila)"
                alt=""
                class="icono-tratamiento absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
              />
            </td>
            <td
              class="px-4 py-2 border relative"
              *ngFor="let i of [].constructor(16); let j = index"
            >
              <input
                type="image"
                [src]="'assets/anatomico/' + (21 + j) + fila + '.png'"
                [id]="21 + j + fila"
                class="brush-images w-full h-auto"
                alt=""
                (click)="openModal(21 + j + fila)"
              />
              <img
                *ngIf="getToothColor(21 + j + fila)"
                [src]="getToothIcon(21 + j + fila)"
                alt=""
                class="icono-tratamiento absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
              />
            </td>
          </tr>
        </ng-container>
        <tr>
          <td class="px-4 py-2 border"></td>
          <td
            class="px-4 py-2 border text-center"
            *ngFor="let i of [].constructor(16); let j = index"
          >
            {{ 18 - j }}
          </td>
          <td
            class="px-4 py-2 border text-center"
            *ngFor="let i of [].constructor(16); let j = index"
          >
            {{ 21 + j }}
          </td>
        </tr>
        <ng-container *ngFor="let fila of ['A', 'B', 'C']">
          <tr>
            <td class="px-4 py-2 border text-center">{{ fila }}</td>
            <td
              class="px-4 py-2 border relative"
              *ngFor="let i of [].constructor(16); let j = index"
            >
              <input
                type="image"
                [src]="'assets/anatomico/' + (48 - j) + fila + '.png'"
                [id]="48 - j + fila"
                class="brush-images w-full h-auto"
                alt=""
                (click)="openModal(48 - j + fila)"
              />
              <img
                *ngIf="getToothColor(48 - j + fila)"
                [src]="getToothIcon(48 - j + fila)"
                alt=""
                class="icono-tratamiento absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
              />
            </td>
            <td
              class="px-4 py-2 border relative"
              *ngFor="let i of [].constructor(16); let j = index"
            >
              <input
                type="image"
                [src]="'assets/anatomico/' + (31 + j) + fila + '.png'"
                [id]="31 + j + fila"
                class="brush-images w-full h-auto"
                alt=""
                (click)="openModal(31 + j + fila)"
              />
              <img
                *ngIf="getToothColor(31 + j + fila)"
                [src]="getToothIcon(31 + j + fila)"
                alt=""
                class="icono-tratamiento absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
              />
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <table class="table-auto w-full border-collapse mt-4">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2">Tratamiento</th>
        <th class="px-4 py-2">Pieza</th>
        <th class="px-4 py-2">Cara</th>
        <th class="px-4 py-2">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos; let i = index">
        <td class="border px-4 py-2">
          <img
            *ngIf="item.icono"
            [src]="item.icono"
            alt="Icono Tratamiento"
            class="icono-tratamiento inline-block mr-2"
          />
          {{ item.tratamiento }}
        </td>
        <td class="border px-4 py-2">{{ item.pieza }}</td>
        <td class="border px-4 py-2">{{ item.cara }}</td>
        <td class="border px-4 py-2 text-center">
          <button class="btn_eliminar" (click)="eliminarFila(i)">
            <svg
              class="fill-current text-red-500"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
            >
              <path
                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
              ></path>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>