<div class="body">
  <div class="container">
    <div class="box1">
      <h1 class="NumeroBloque1">1</h1>
      <h1 class="DescripcionBloque1">ANAMNESIS</h1>
      <h2 class="Descripcion2Bloque1">
        Registra todos los datos básicos de tu paciente
      </h2>
      <h3 class="ProgressDescripcionBloque1">Paso 1 de 8</h3>
      <div class="progress-bar"></div>
    </div>

    <div class="box3">
      <div class="circle">
        <img src="tu-imagen-de-usuario.jpg" alt="" />
      </div>
      <!-- <button class="editar-perfil">Editar Foto</button> -->
      <button
        class="ectoscopia"
        [routerLink]="['/ectoscopia']"
        routerLinkActive="router-link-active"
      >
        Generar Ectoscopia
      </button>
    </div>

    <div
      class="box2"
      [formGroup]="patientForm"
      (ngSubmit)="onSave()"
      autocomplete="off"
    >
      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field2">Nombres</label>
              <input
                formControlName="nombres"
                class="input_nombres"
                type="text"
                id="nombres"
                maxlength="50"
              />
            </div>
          </div>
        </div>

        <div class="sub_sub_box2_1">
          <div class="form-container">
            <div class="form-group">
              <label for="field3">Sexo</label>
              <select id="sexo" formControlName="sexo">
                <option value="seleccione">Seleccione</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
            </div>
            <div class="form-group">
              <label for="field4">Edad</label>
              <input
                type="number"
                id="edad"
                formControlName="edad"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field5">Apellidos</label>
              <input
                class="input_nombres"
                type="text"
                id="apellidos"
                maxlength="150"
                formControlName="apellidos"
              />
            </div>

            <div class="form-group">
              <label for="field6">Lugar</label>
              <input
                class="input_nombres"
                type="text"
                id="lugar"
                maxlength="150"
                formControlName="lugar"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field7">Fecha de Nacimiento</label>
              <input
                class="input_nombres"
                type="date"
                id="fecha_nacimiento"
                name="fecha_nacimiento"
                formControlName="nacimiento"
              />
            </div>

            <div class="form-group">
              <label for="field8">Estado Civil</label>
              <select id="estado_civil" formControlName="estado_civil">
                <option value="" disabled selected hidden>Seleccione</option>
                <option value="casado">Casado</option>
                <option value="conviviente">Conviviente</option>
                <option value="soltero">Soltero</option>
                <option value="viudo">Viudo</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field9">Celular</label>
              <input
                class="input_nombres"
                type="number"
                id="celular"
                formControlName="celular"
              />
            </div>

            <div class="form-group">
              <label for="field10">Residencia</label>
              <input
                class="input_nombres"
                type="text"
                id="residencia"
                formControlName="residencia"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field11"
                >Grado de Instrucción
                <nav></nav
              ></label>
              <!-- <input
                class="input_nombres"
                type="text"
                id="grado_instruccion"
                formControlName="grado_instruccion"
              /> -->
              <select
                id="grado_instruccion"
                formControlName="grado_instruccion"
              >
                <option value="" disabled selected hidden>Seleccione</option>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="tecnico">Técnico</option>
                <option value="universitario">Universitario</option>
              </select>
            </div>

            <div class="form-group">
              <label for="field12">Ocupación</label>
              <input
                class="input_nombres"
                type="text"
                id="ocupacion"
                formControlName="ocupacion"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field13"
                >Domicilio
                <nav></nav
              ></label>
              <input
                class="input_nombres"
                type="text"
                id="domicilio"
                formControlName="domicilio"
              />
            </div>

            <div class="form-group"></div>
          </div>
        </div>
      </div>

      <div class="form_etapa2">
        <h3 class="anexos">En caso necesario comunicarse con:</h3>
        <hr class="separador_anexo" />
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field14">Nombre</label>
              <input
                class="input_nombres"
                type="text"
                id="nombreCom"
                maxlength="150"
                formControlName="nombreCom"
              />
            </div>

            <div class="form-group">
              <label for="field15">Ocupación</label>
              <input
                class="input_nombres"
                type="text"
                id="ocupacionCom"
                maxlength="150"
                formControlName="ocupacionCom"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field16">Domicilio</label>
              <input
                class="input_nombres"
                type="text"
                id="domicilioCom"
                maxlength="150"
                formControlName="domicilioCom"
              />
            </div>

            <div class="form-group">
              <label for="field17">Parentesco</label>
              <input
                class="input_nombres"
                type="text"
                id="parentescoCom"
                formControlName="parentescoCom"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sub_box2">
        <div class="sub_sub_box2">
          <div class="form-container">
            <div class="form-group">
              <label for="field16">Correo</label>
              <input
                class="input_nombres"
                type="mail"
                id="correoCom"
                maxlength="150"
                formControlName="correoCom"
              />
            </div>

            <div class="form-group">
              <label for="field17">Teléfono</label>
              <input
                class="input_nombres"
                type="number"
                id="telefonoCom"
                formControlName="telefonoCom"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button class="guardar" (click)="onSave()">Guardar</button>
        <button
          class="siguiente"
          [routerLink]="['/consultoria']"
          routerLinkActive="router-link-active"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
