.body {
  margin: 30px;

}

.container {
  display: flex;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  /* Agrega una sombra */
  border-radius: 20px;
  justify-content: center;

}

.box1 {
  height: 900px;
  max-height: 900px;
  flex: 1;
  background-color: #2450A6;
  color: #fff;
  border-radius: 20px 0 0 20px;

  padding: 20px;
  align-items: center;
  text-align: center;

}

.box2 {
  flex: 3;
  max-height: 900px;
  background-color: #a7baf23d;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  border-radius: 0px 20px 20px 0px;
}

.progress-bar {
  background-color: #fff;
  height: 10px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 10px;
  border-radius: 5px;
}

.NumeroBloque1 {
  margin-top: 280px;
  font-size: 45px;
  font-weight: 700;


}

.DescripcionBloque1 {
  font-size: 25px;
  margin: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.Descripcion2Bloque1 {
  margin-top: 10px;
  font-weight: 500;
  margin: 20px;
  font-size: 17px;
}

.ProgressDescripcionBloque1 {
  text-align: start;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 15px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

/* EMPIEZA EL BLOCK 2*/

.form-group {
  flex: 2;
  text-align: start;
  color: #2450A6;
  font-weight: 700;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;

}

.form-container .form-group input {
  width: 100%;
  border-radius: 5px;
  border-color: #2450A6;
  padding: 10px;
  height: 40px;
  color: #3C4059;

  font-weight: 500;
  border-width: 1px;
}

.sub_box2 {
  display: flex;
}

.sub_sub_box2 {
  flex: 1;
}

.sub_sub_box2_1 {
  flex: 1;
}

.form-container select {

  width: 100%;
  border-radius: 5px;
  border-color: #2450A6;
  color: #3C4059;
  height: 40px;
  font-weight: 500;
  padding: 5px;
  border-width: 1px;
}

.form_etapa2 {
  margin: 20px;
}

.anexos {
  font-size: 20px;
  color: #3C4059;
  font-weight: 700;
}

.separador_anexo {
  height: 2px;
  background-color: #3C4059;
  margin-top: 5px;
}


.button-container {
  display: flex;
  justify-content: end;
  margin: 20px;
  gap: 30px;
  /* Espacio entre los botones */
}

.button-container button {
  margin-top: 25px;

}

.guardar {
  color: #2450A6;
  font-weight: 650;
  width: 120px;
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #2450A6;
  border-radius: 5px;
  padding: 10px;
}

.siguiente {
  color: #fff;
  font-weight: 650;
  width: 120px;
  font-size: 18px;
  background-color: #2450A6;
  border: 1px solid #2450A6;
  border-radius: 5px;
  padding: 10px;
}


.box3 {
  flex: 0.7;
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #a7baf23d;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  background: #f0f0f0;
  /* Color de fondo del círculo */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  /* Sombra alrededor del círculo */
  align-items: center;
  justify-content: center;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* La imagen se ajusta al tamaño del círculo */
}

/* .editar-perfil {
width: 130px;
 
  font-weight: 650;
  width: 120px;
 

  font-size: 18px;

  color: #3C4059;
  background-color: #fff;
  border: 1px solid #3C4059;
  border-radius: 5px;
  padding: 10px;
} */



.ectoscopia {
  color: #fff;
  width: 150px;
  font-weight: 650;
  font-size: 18px;
  background-color: #3C4059;
  border: 1px solid #3C4059;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}


.ectoscopia:hover {
  color: #3C4059;
  background-color: #fff;
  border: 1px solid #3C4059;
  border-radius: 5px;
  padding: 10px;
}

/* .editar-perfil:hover{
  border: 1px solid #2450A6;
  border-radius: 5px;
  padding: 10px;
  background-color: #2450A6;
  color: #fff;
} */

/* Estilos adicionales según tus preferencias */