.contenedor {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contenedor:hover{
    background-color: #e2dede;
    transition: background-color 0.3s ease;    
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.contenedor p {
    font-size: 16px;
    margin-left: 7px;
    color: #333;    
}

.info-grupo {
    margin-top: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info-grupo p {
    flex: 1 1 50%;
    margin-left: 0;
}

.contenedor .info-grupo p {
    font-size: 16px;
    margin-left: 7px;
    color: #333;
}