<app-ui-menu-contextual
  *ngIf="selectedDiente"
  [contextMenuPosition]="contextMenuPosition"
  [diente]="selectedDiente"
  [part]="selectedPart"
  (selectMultipleTreatments)="onSelectMultipleTreatments($event)"
  (closeMenu)="closeMenu()"
></app-ui-menu-contextual>
<div
  id="odontograma-geometrico"
  class="flex relative flex-col items-center p-[30px] bg-slate-300 overflow-x-auto"
>
  <div
    class="border-l-[3px] border-black absolute"
    [ngClass]="{
      'h-[67%]': edadCategoria === 'adulto' || edadCategoria === 'menor',
      'h-[82%]': edadCategoria === 'completo'
    }"
  ></div>
  <div *ngIf="edadCategoria === 'adulto' || edadCategoria === 'completo'">
    <div class="row row-with-border">
      <div
        class="tooth"
        *ngFor="let diente of dientes.slice(0, 16)"
        [attr.data-index]="diente"
        [ngClass]="{
          'tooth-with-margin-right': diente === 11,
          'tooth-with-margin-left': diente === 21
        }"
      >
        <span class="tooth-number">{{ diente }}</span>
        <div
          class="top tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Vestibular') }"
          (click)="logToothPart(diente, 'Vestibular', $event)"
          [tooltip]="getTreatments(diente, 'Vestibular')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="left tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'left'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'left'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'left'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="bottom tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Palatino') }"
          (click)="logToothPart(diente, 'Palatino', $event)"
          [tooltip]="getTreatments(diente, 'Palatino')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="right tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'right'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'right'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'right'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="center tooth-center unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Incisal') }"
          (click)="logToothPart(diente, 'Incisal', $event)"
          [tooltip]="getTreatments(diente, 'Incisal')"
          placement="top"
          [showDelay]="500"
        ></div>
      </div>
    </div>
    <div class="row">
      <div
        class="tooth"
        *ngFor="let diente of dientes.slice(16, 32)"
        [attr.data-index]="diente"
        [ngClass]="{
          'tooth-with-margin-right': diente === 41,
          'tooth-with-margin-left': diente === 31
        }"
      >
        <span class="tooth-number">{{ diente }}</span>
        <div
          class="top tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Lingual') }"
          (click)="logToothPart(diente, 'Lingual', $event)"
          [tooltip]="getTreatments(diente, 'Lingual')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="left tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'left'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'left'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'left'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="bottom tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Vestibular') }"
          (click)="logToothPart(diente, 'Vestibular', $event)"
          [tooltip]="getTreatments(diente, 'Vestibular')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="right tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'right'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'right'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'right'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          [ngClass]="{ selected: tieneTratamientos(diente, 'Incisal') }"
          class="center tooth-center unselected"
          (click)="logToothPart(diente, 'Incisal', $event)"
          [tooltip]="getTreatments(diente, 'Incisal')"
          placement="top"
          [showDelay]="500"
        ></div>
      </div>
    </div>
  </div>
  <div *ngIf="edadCategoria === 'menor' || edadCategoria === 'completo'">
    <div class="row row-with-border">
      <div
        class="tooth"
        *ngFor="let diente of dientes.slice(32, 42)"
        [attr.data-index]="diente"
        [ngClass]="{
          'tooth-with-margin-right': diente === 51,
          'tooth-with-margin-left': diente === 61
        }"
      >
        <span class="tooth-number">{{ diente }}</span>
        <div
          class="top tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Vestibular') }"
          (click)="logToothPart(diente, 'Vestibular', $event)"
          [tooltip]="getTreatments(diente, 'Vestibular')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="left tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'left'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'left'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'left'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="bottom tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Palatino') }"
          (click)="logToothPart(diente, 'Palatino', $event)"
          [tooltip]="getTreatments(diente, 'Palatino')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="right tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'right'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'right'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'right'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="center tooth-center unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Incisal') }"
          (click)="logToothPart(diente, 'Incisal', $event)"
          [tooltip]="getTreatments(diente, 'Incisal')"
          placement="top"
          [showDelay]="500"
        ></div>
      </div>
    </div>
    <div class="row">
      <div
        class="tooth"
        *ngFor="let diente of dientes.slice(42)"
        [attr.data-index]="diente"
        [ngClass]="{
          'tooth-with-margin-right': diente === 81,
          'tooth-with-margin-left': diente === 71
        }"
      >
        <span class="tooth-number">{{ diente }}</span>
        <div
          class="top tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Lingual') }"
          (click)="logToothPart(diente, 'Lingual', $event)"
          [tooltip]="getTreatments(diente, 'Lingual')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="left tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'left'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'left'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'left'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="bottom tooth-side unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Vestibular') }"
          (click)="logToothPart(diente, 'Vestibular', $event)"
          [tooltip]="getTreatments(diente, 'Vestibular')"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="right tooth-side unselected"
          [ngClass]="{
            selected: tieneTratamientos(diente, getToothPart(diente, 'right'))
          }"
          (click)="logToothPart(diente, getToothPart(diente, 'right'), $event)"
          [tooltip]="getTreatments(diente, getToothPart(diente, 'right'))"
          placement="top"
          [showDelay]="500"
        ></div>
        <div
          class="center tooth-center unselected"
          [ngClass]="{ selected: tieneTratamientos(diente, 'Incisal') }"
          (click)="logToothPart(diente, 'Incisal', $event)"
          [tooltip]="getTreatments(diente, 'Incisal')"
          placement="top"
          [showDelay]="500"
        ></div>
      </div>
    </div>
  </div>
</div>
