<div class="body">
    <div class="container">
        <div class="box1">

            <h1 class="NumeroBloque1">8</h1>
            <h1 class="DescripcionBloque1">PLAN DE TRATAMIENTO</h1>
            <h2 class="Descripcion2Bloque1"> Registre el plan de tratamiento para sus pacientes</h2>
            <h3 class="ProgressDescripcionBloque1">Paso 8 de 8</h3>
            <div class="progress-bar"></div>


        </div>
        <div class="box2">


            <div class="form-container">
                <div class="form-group">
                    <label for="field1">N° FASE</label>
                    <input type="text" id="fase" maxlength="30">
                </div>
                <div class="form-group">
                    <label for="field2">Fecha de Inicio</label>
                    <input type="date" id="fecha_inicio">
                </div>
                <div class="form-group">
                    <label for="field3">Fecha de Fin</label>
                    <input type="date" id="fecha_fin">
                </div>

                <div class="form-group_especial">
                    <button class="agregar">+</button>
                </div>


            </div>

            <div class="form-container">
                <div class="form-group">
                    <label for="field2">Descripción</label>
                    <textarea class="textarea" name="descripcion"></textarea>
                </div>

            </div>





            <div class="form_etapa2">
                <h3 class="lista_datos">Listado de Datos</h3>
                <hr class="separador_anexo">
            </div>

            <div class="detalle_container">
                <div class="listado" id="listado-datos">
                </div>

            </div>


            <div class="button-container">
                <button class="diagnostico">Ver Diagnóstico</button>
                <div class="right-buttons">
                    <button class="guardar">Guardar</button>
                    <button class="siguiente">Siguiente</button>
                </div>
            </div>



        </div>



    </div>

</div>