.body {
  margin: 30px;

}

.container {
  display: flex;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  /* Agrega una sombra */
  border-radius: 20px;
  justify-content: center;

}

.box1 {
  height: 900px;
  max-height: 900px;
  flex: 1;
  background-color: #2450A6;
  color: #fff;
  border-radius: 20px 0 0 20px;

  padding: 20px;
  align-items: center;
  text-align: center;

}

.box2 {
  flex: 3;
  max-height: 900px;
  background-color: #a7baf23d;
  color: #fff;
  padding: 20px;

  border-radius: 0px 20px 20px 0px;
}

.progress-bar {
  background-color: #fff;
  height: 10px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 10px;
  border-radius: 5px;
}

.NumeroBloque1 {
  margin-top: 280px;
  font-size: 45px;
  font-weight: 700;


}

.DescripcionBloque1 {
  font-size: 25px;
  font-weight: 700;
  margin: 20px;
  margin-top: 10px;
}

.Descripcion2Bloque1 {
  margin-top: 10px;
  font-weight: 500;
  margin: 18px;
  font-size: 17px;
}

.ProgressDescripcionBloque1 {
  text-align: start;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 15px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container textarea {

  width: 100%;
  border-radius: 5px;
  border-color: #2450A6;
  color: #3C4059;
  font-weight: 500;
  height: 160px;
  border-width: 1px;
  overflow-y: auto;
  resize: none;
  padding: 10px;
  max-height: 420px;
  word-break: break-all;
}

.form-container select {
  
  width: 100%;
  border-radius: 5px;
  border-color: #2450A6;
  padding: 10px;
  height: 50px;
  color: #3C4059;
  font-weight: 500;

  border-width: 1px;
}

.form-container .agregar{
  color: #fff;
  font-weight: 650;
  background-color: #fff;
  font-size: 18px;
  height: 40px;
  font-weight: 800;
font-size: 25px;
  width: 40px;
  background-color: #2450A6;
  border: 1px solid #2450A6;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente al centro */
  padding-bottom: 18px;
}

.form-container .agregar:hover {
  background-color: #fff; /* Invertimos el fondo al pasar el mouse */
  color: #2450A6; /* Invertimos el color del texto al pasar el mouse */
}
.form-group {
  flex: 1;
  text-align: start;
  color: #2450A6;
  font-weight: 700;
  margin: 20px;


}

label {
  display: block;
  margin-bottom: 5px;

}

.form-container .form-group input {
  width: 100%;
  border-radius: 5px;
  border-color: #2450A6;
  padding: 10px;
  height: 40px;
  color: #3C4059;
  font-weight: 500;
  border-width: 1px;
}

.form_etapa2 {
  margin: 20px;
}

.lista_datos {
  font-size: 20px;
  color: #3C4059;
  font-weight: 700;
}

.separador_anexo {
  height: 2px;
  background-color: #3C4059;
  margin-top: 5px;
}

.form-group-last {
  flex: 1;
  color: #2450A6;
  font-weight: 700;
  margin: 20px;

}



.button-container {
  display: flex;
  justify-content: end;
  margin: 20px;
  gap: 30px;
  /* Espacio entre los botones */
}

.button-container button {
  margin-top: 25px;

}

.guardar {
  color: #2450A6;
  font-weight: 650;
  width: 120px;
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #2450A6;
  border-radius: 5px;
  padding: 10px;
}

.siguiente {
  color: #fff;
  font-weight: 650;
  width: 120px;
  font-size: 18px;
  background-color: #2450A6;
  border: 1px solid #2450A6;
  border-radius: 5px;
  padding: 10px;
}

.form-group_especial{
  margin: 20px;
  margin-top: 48px;

}

.detalle_container{
  flex: 1;
  height: 340px;
  border-width: 1px;
  margin: 20px;
  border-radius: 5px;
  color: #2450A6;
  overflow-y: auto;
}
.diagnostico {
  color: #fff;
  width: 180px;
  font-weight: 650;
  font-size: 18px;
  background-color: #3C4059;
  border: 1px solid #3C4059;
  border-radius: 5px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-buttons {
  display: flex;
  gap: 10px; /* Añade espacio entre los botones si lo deseas */
}

.diagnostico:hover {
  color: #3C4059;
 
  background-color: #fff;
  border: 1px solid #3C4059;
  border-radius: 5px;
  padding: 10px;
}








