<div class="body">
    <div class="container">
      <div class="box1">

        <h1 class="NumeroBloque1">4</h1>
        <h1 class="DescripcionBloque1">SIGNOS VITALES</h1>
        <h2 class="Descripcion2Bloque1"> Registra los signos vitales de tus pacientes</h2>
        <h3 class="ProgressDescripcionBloque1">Paso 4 de 8</h3>
        <div class="progress-bar"></div>


      </div>
      <div class="box2">

        <div class="form-container">

          <div class="form-group">
            <label for="field1">Agregar Signos Vitales</label>
            <div class="custom_select">
              <select name="signos-vitales" id="signos-vitales">
                <option value="seleccionar">Escoja un tipo de Signos Vitales</option>
                <option value="Presion Arterial">Presion Arterial</option>
                <option value="Pulso">Pulso</option>
                <option value="Frecuencia Respiratoria">Frecuencia Respiratoria</option>
                <option value="Temperatura">Temperatura</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="field2">Descripción</label>
            <textarea class="textarea" name="descripcion"></textarea>
          </div>

          <div class="form-group_especial">

            <button class="agregar">+</button>
          </div>


        </div>


        <div class="form_etapa2">
          <h3 class="lista_datos">Listado de Datos</h3>
          <hr class="separador_anexo">
        </div>

        <div class="detalle_container">
          <div class="listado" id="listado-datos">
          </div>

        </div>


        <div class="button-container">
          <button class="guardar">Guardar</button>
          <button class="siguiente" [routerLink]="['/antecedentes-paciente']" routerLinkActive="router-link-active" >Siguiente</button>
        </div>

      </div>



    </div>

  </div>

