<div class="fondo1">
  <div class="flex pl-20 align-middle">
    <img class="w-10" src="../assets/images/diente.png" alt="" />
    <a><h1 class="text-[#3C4059] font-bold">OdontoWeb</h1></a>
  </div>
  <div class="flex">
    <a class="m-2 text-[#3C4059]" href="">Historias clinicas</a>
    <a class="m-2 text-[#3C4059]" routerLink="odontograma-anatomico"
      >Odontograma Anatómico</a
    >
    <a class="m-2 text-[#3C4059]" href="">Odontograma Infantil</a>
    <a class="m-2 text-[#3C4059]" routerLink="odontograma-geometrico">Odontograma Geométrico</a>
    <div class="flex ml-5 mr-10">
      <img class="w-10 text-[#3C4059]" src="../assets/images/kin.png" alt="" />
      <a>Kin</a>
    </div>
  </div>
</div>
<div class="">
  <router-outlet></router-outlet>
</div>
